
h1, h2, h3 {
    color: #366097;
}

body {
    font-family: Verdana;
    font-size: 12px;
}
.margin-top{
    margin-top: 10px;
}

.container-fiera {
    margin-left: 300px;
    max-width: 1150px;

}
.workflow{
    margin-top: 15px;
    margin-bottom: 15px;
}


.hl {
    background-color: #cde7f6;
    border-radius: 15px;
    padding: 10px;
}


.groups-orange {
    background-color:#ffcc80;
}


.small-input {
    width: 80px;
}
 .input-wide{
     min-width: 200px;
 }

.icon-up:before {
    font-size: 15px;
    font-weight:bold;
    color: green;
    content: "\271A";
   border-color:green;
}

.cross:before {
    font-size: 15px;
    font-weight:bold;
    color: red;
    content: "\2716";
    border-color:red;

}

.arrow:before {
    font-size: 20px;
    color: red;
    content: "\2191";
    border-color:red;

}

.table-border {
    border: 1px solid darkslategray;
}

.row-highlighted {
    background-color: #cde7f6;
}

.row-comment {
    background-color: #c2ccd1;
}

.row-deleted {
    background-color: lightcoral;
}

.screen-width {
    min-height: 600px;
    width: 100%
}

.button-top {
    position: fixed;
    top: 20px;
    left: 2%;
    width: 250px;
    z-index: 2000;
    cursor: pointer;
    /*border: 1px solid #c0c0c0;*/
    /*background-color: green;*/
    /*color: #fff;*/
    padding: 10px 0;
}

.left-menu {
    position: fixed;
    top: 60px;
    left: 2%;
    width: 250px;
    height: 90%;
    z-index: 1234;
    cursor: pointer;
    overflow: auto;
    border: 1px solid #c0c0c0;
    background-color: #fff
}

.button {
    padding: 8px 15px;  border: 2px solid #366097;  font: bold 10pt Verdana;  color: #366097;
}
.button-disabled{
    background-color:#fff !important; border-color:#cde7f6; color: #cde7f6;
}

.glyphicon-plus-sign{
    color:#5cb85c !important
}
.glyphicon{
    font-size: 15pt;
}
.glyphicon-remove-sign{
    color: red !important;
}
input {
    padding: 5px;
    border: 1px solid #366097;

}
input[type=file] {
    display: inline !important;

}
.last-grou-button{
    background-color: #ffcc80;
    width: 100%;

}

